@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap');
:root {
  --dark: #0D0D2B;
  --white: #ffffff;
  --blue: #3671E9;
  --purple: #2B076E;
}

body {
  background-color: var(--dark);
  color: var(--white);
  font-family: 'Rubik', sans-serif;
}

.header {
  max-width: 1202px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.nav-item {
  margin-left: 32px;
}

.nav-item--login {
  margin-left: 56px;
  border-right: 1px solid rgba(242, 242, 242, 0.3);
}

.nav-link {
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
}

